@import url('https://fonts.googleapis.com/css?family=Montserrat|Rufina|Sulphur+Point&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 900;
  }
  *:before, *:after {
    box-sizing: border-box;
  }
  html, body {
    height: 100%;
  }
  body {
    overflow: scroll;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  .wrap_bg {
    position: relative;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1483137140003-ae073b395549?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    /* background-position: 50%; */
  }
  .btn {
    display: inline-block;
    min-width: 140px;
    padding: 0 20px;
    border-radius: 5px;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(255, 255, 255);
    outline: 0;
    border: 0;
  }
  .btn_rounded {
    border: 1px solid #c3c3c3;
    color: #c3c3c3;
    transition: all 0.3s ease-in-out;
  }
  .btn_red {
    background-color: #ecb622;
    line-height: 33px;
  }
  .label_name, .label_mail, .label_pass {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .label_name:before, .label_mail:before, .label_pass:before {
    position: absolute;
    right: 5px;
    top: 10px;
    transition: color 0.4s cubic-bezier(1, 0, 0, 1);
  }
  .label_name:before {
    content: "\f007";
  }
  .label_mail:before {
    content: "\f0e0";
  }
  .label_pass:before {
    content: "\f023";
  }
  .forgotPass {
    text-decoration: none;
    color: #c3c3c3;
  }
  .login_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 830px;
    height: 350px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.452);
    color: #f6f6f6;
    transform: translate(-50%, -50%);
  }
  .login_action_wrap {
    position: absolute;
    top: -40px;
    left: 50px;
    height: 430px;
    width: 430px;
    background-color: #f7f7f6;
    border-radius: 3px;
    box-shadow: 0 0 10px 3px rgba(39, 37, 37, 0.45);
  }
  .question_singUp, .question_login {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 270px;
  }
  .question_singUp .title, .question_login .title {
    margin: 0;
    line-height: 32px;
    font-size: 28px;
  }
  .question_singUp p, .question_login p {
    padding: 15px 0 20px 0;
    font-size: 14px;
  }
  .question_singUp {
    left: 50px;
  }
  .question_login {
    right: 50px;
  }
  .action_singUp, .action_login {
    position: absolute;
    top: 30px;
    width: 330px;
    z-index: 3;
  }
  .action_singUp .btn, .action_login .btn {
    float: right;
  }
  .action_singUp .title, .action_login .title {
    color: #ecb622;
    text-transform: uppercase;
    font-size: 22px;
  }
  .action_singUp .input, .action_login .input {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 2px solid #c1c4d6;
    background-color: transparent;
    line-height: 32px;
    font-size: 13px;
  }
  .action_singUp .input:hover, .action_login .input:hover, .action_singUp .input:focus, .action_login .input:focus, .action_singUp .input:active, .action_login .input:active {
    outline: 0;
  }
  .action_singUp .input_block, .action_login .input_block {
    margin: 35px 0;
  }
  .action_singUp {
    left: 100px;
  }
  .action_login {
    right: 100px;
  }
  .input_wrap {
    position: relative;
  }
  .loginActive .login_action_wrap {
    animation: 0.6s loginActive forwards;
  }
  .loginActive .action_singUp, .loginActive .question_login {
    visibility: hidden;
  }
  .singUpActive .login_action_wrap {
    animation: 0.6s singUpActive forwards;
  }
  .singUpActive .action_login, .singUpActive .question_singUp {
    visibility: hidden;
  }
  .input + label:after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #ecb622;
    transition: width 0.4s cubic-bezier(1, 0, 0, 1);
  }
  .input:focus + label:after {
    width: 100%;
  }
  .input:focus + label:before {
    color: #ecb622;
  }
  @keyframes loginActive {
    40% {
      transform: translateX(320px);
   }
    65% {
      transform: translateX(280px);
   }
    100% {
      transform: translateX(300px);
   }
  }
  @keyframes singUpActive {
    0% {
      transform: translateX(300px);
   }
    40% {
      transform: translateX(-20px);
   }
    65% {
      transform: translateX(20px);
   }
    100% {
      transform: none;
   }
  }

  #notlogin{
      width: 100%;
      height: 100vh;
  }