#weather-content p{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 15px;
}
#weather-content h4{
    font-size: 17px;
    margin: 0 !important;
    padding: 0 !important;
}
#weatherData{
    border-radius: ;
    width: 350px;
    height: 200px;
    border: 3px dashed rgb(248,164,27);
    /* border-radius: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
#weather{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.basic {
    display: flex; 
    justify-content:center; 
    align-items: center;
    flex-direction: column;
}